<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>
    {% for room in rooms %}

        {% if room.receiver_user.id == user %}
            <br><a href="{{ room }}">{{ room.sender_user }}</a><br>
        {% else %}
            <br><a href="{{ room }}">{{ room.receiver_user }}</a><br>

        {% endif %}
    {% endfor %}
    <br><br>
    <h2>New Chat?</h2>
    <h3>Select whom do you want to connect with</h3>
    <br>
    <a href="{% url 'get_event_manager' %}">Event Managers</a>
    <br> <br>
    <a href="{% url 'get_vendor' %}">Vendors</a>
</body>
</html>